body {
    font-size: 17px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.loginBtn {
    color: white;
    background-color: darkgray;
}

.loginBtn:hover {
    color: black;
    background-color: white;
    transition: all 1s ease;
}

.fab {
    color: inherit;
    background-color: inherit;
}

a.loginBtn {
    margin-right: 10px;
}

button.btn{
    width: 200px;
    height: 70px;
}