<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/Bootstrap//css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/FontAwesome/css/all.css"/>
    <title>Task 4</title>
</head>

<body>
    <nav role="navigation" class="navbar navbar-dark bg-dark mb-5"> 
        <p class="h4 text-light navbar-brand unselectable">
            TASK 4
        </p>
        <div id="notice" class="container d-flex justify-content-end">
            <a class="btn loginBtn" asp-controller="Account" asp-action="facebook-login"><i class="fab fa-facebook loginBtn"></i></a>
            <a class="btn loginBtn" asp-controller="Account" asp-action="github-login"><i class="fab fa-github loginBtn"></i></i></a>
            <a class="btn loginBtn" asp-controller="Account" asp-action="google-login"><i class="fab fa-google loginBtn"></i></a>
            <a class="btn loginBtn" asp-controller="Account" asp-action="signout"><i class="fas fa-sign-out-alt loginBtn"></i></a>
        </div>
    </nav>

    <main class="container">
        @RenderBody()
    </main>

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/Bootstrap.js"></script>
    <script src="~/js/chat.js"></script>
</body>
</html>